<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Funcionário</title>
</head>
<body>
<h1 th:text="${funcionario.id == null ? 'Novo Funcionário' : 'Editar Funcionário'}"></h1>
<form th:action="@{${funcionario.id == null} ? '/funcionarios/novo/' + ${empresaId} : '/funcionarios/editar/' + ${funcionario.id}}" th:object="${funcionario}" method="post">
    <label>Nome:</label>
    <input type="text" th:field="*{nome}" required />
    <label>Cargo:</label>
    <input type="text" th:field="*{cargo}" required />
    <button type="submit">Salvar</button>
</form>
<a th:href="@{'/empresas/' + ${empresaId} + '/funcionarios'}">Voltar</a>
</body>
</html>
